body {
  background-color: rgb(29, 93, 143);
  font-size: 16px;
  color: white;
}

#navigation {
  background-color: white;
  text-align: right;
  padding: 14px 16px;
  border: 2px solid black;
}

a {
  color: purple;
}

#para1 {
  text-align: right;
  text-indent: 1in;
  word-spacing: 0.5in;
  letter-spacing: 0.1in;
  font-family: monospace;
 }
 
 /* This is my comment */
 /* My class text is on the right of the screen*/
 .myclass {
   color: white;
   text-align: right;
   background-color: rgb(125,0,250);
 }

p.myclass {
  text-decoration: underline;
  border: none;
}
