* {
  background-color: rgba(255,0,0,0.5)
}

p {
  color: red;
  text-align: center;
  border: 2px solid black;
}

a {
  color: purple;
}

#para1 {
 color: green;
 }
 
 /* This is my comment */
 /* My class text is on the right of the screen*/
 .myclass {
   color: white;
   text-align: right;
   background-color: rgb(125,0,250);
 }

p.myclass {
  text-decoration: underline;
  border: none;
}
